.body {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-flow: row;
  padding: 10px;
  padding-top: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #18191a;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: "lemon_jelly_personal_useRg";
  src: url("/src/font/font/lemonjellypersonaluse-deqr-webfont.woff2")
      format("woff2"),
    url("/src/font/font/lemonjellypersonaluse-deqr-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.profile-name-block {
  display: flex;
  border-radius: 10px;
  width: 20rem;
  background-color: #242526;
  padding: 10px;
  min-height: 450px;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 1px 2px var(--shadow-2);
}

.profile-panel {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: max-content;
  text-align: center;
}

.user-name {
  padding-top: 20px;
  display: block;
  text-align: center;
  margin: 0px;
  font-size: 50px;
  font-family: "lemon_jelly_personal_useRg";
  font-weight: 500;
  color: rgba(255, 255, 255, 0.856);
}

.infor-detail {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  font-family: "lemon_jelly_personal_useRg";
  color: rgba(255, 255, 255, 0.616);
  font-size: 30px;
}

.decription {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.856);
}

.age-tag {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
}

.rounded-boder {
  position: relative;
  width: 170px;
  height: 170px;
}

.avatar {
  border-radius: 50%; /*1*/
  border: double 4px transparent;
  background-image: linear-gradient(#fff, #fff),
    radial-gradient(circle at top left, #ff0000, #002fff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 170px;
  height: 170px;
}

.avatar-block {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nickname {
  display: inline;
}

.quote-icon {
  margin-left: 10px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.678);
}

.button-icon {
  color: rgba(255, 255, 255, 0.699);
  margin-right: 5px;
  font-size: 18px;
}

.main-content {
  flex: 1;
}

.button-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.inter-button {
  border: none;
  width: max-content;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 5px 20px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.699);
}

.inter-button:hover {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.178);
}

.interactive-block {
  padding-top: 10px;
  border-top: 2px solid rgba(255, 255, 255, 0.178);
}

.nav-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  flex: 2;
  margin: 5px 20px;
  color: rgba(255, 255, 255, 0.616);
}

.nav-item {
  display: inline-block;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 15px;
  width: 146px;
  font-family: "lemon_jelly_personal_useRg";
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.178);
}

.brand-name {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  flex: 1;
}

.brand-logo {
  margin-left: 30px;
}

.search-box-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #242526;
}

#search-box {
  border: none;
  border-radius: 50px;
  height: 35px;
  width: 200px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-inline-start: 30px;
  font-size: 14px;
}

#search-box:active {
  border: none;
}

.input-searchbox-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-icon {
  color: rgba(255, 255, 255, 0.616);
  font-size: 20px;
  margin-right: 10px;
}

.btn {
  margin: 0;
}

.btn:active {
  color: rgba(255, 255, 255, 0.39);
}

.notification-btn {
  background-color: #3a3b3c;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.notification-btn:hover {
  background-color: #4e4f50;
}

.notification-btn:active {
  background-color: #2f3031;
}
